*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    position: relative;
    background-color: #F8F9FA;
    width: 100%;
}

header {
    max-width: 1728px;
    height: 134px;
    background-color: #FFFFFF;
    border-bottom:solid ;
    border-color: #0000001A;
    border-bottom-width: 1px;
    position: sticky;
    top: 0;
}
.headOne{
    max-width: 1728px;
    height: 28px;
    background-color: #1A73E8;
    padding: 6px 200px;
}
.div-one{
    max-width: 1280px;
    height: 16px;
    padding: 0 16px;
    justify-content: space-between;
    position: relative;
    
}
span.left{
    max-width: 156px;
    height: 16px;
    display: inline-block;
    position: absolute;
    padding: 0;
    gap: 4px;
    align-items: center;
    padding-bottom: 2px;
}
span.right{
    max-width: 360.010009765625px;
    height: 16px;
    gap: 16.01px;
    padding: 0;
    right: 0;
    display: inline-block;
    position: absolute;
}
.img-map{
    width: 11px;
    height: 11px;
    display: inline-block;
}
span.text-city{
    max-width: 141px;
    height: 20px; 
    margin:0;
    display: inline-block;
}
span.phone{
    max-width: 160px;
    height: 16px;
    padding: 0 8px;
}
span.ongkir{
    max-width: 197px;
    height: 16px;
    padding-left: 8px;
    
}
span.top-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    vertical-align: middle;
}

.headTwo{
    height: 64px;
    max-width: 1728px;
    padding: 0 200px;
    position: relative;
}
.div-two{
    max-width: 1280px;
    height: 64px;
    padding: 12px;
    gap: 16px;
    position: relative;
}
span.beliMudah{
    width: 120px;
    height: 32px;
    display: inline-block;
    gap: 8px;
}
span.logoB{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #1A73E8;
    position: relative;
    top: 6px;
    color: #FFFFFF;
    display: inline-block;
}
span.logoB > a{
    width: 10px;
    height: 20px;
    padding: 0 11px;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
span.textLogo{
    width: 80px;
    height: 24px;
    display: inline-block;
    color: #111827;
    position: absolute;
    line-height: 24px;
    letter-spacing: 0%;
    top: 19px;
    left: 59px;
}
span.textLogo > a{
    vertical-align: middle;
    line-height: 24px;
    letter-spacing: 0%;
    font-weight: 400;
    font-size: 16px;
    color: #111827;
    text-decoration: none;
}
span.search{
    width: 530px;
    height: 42px;
    display: inline-block;
    position: absolute;
    padding: 0 11.5px;
}
.search > .form{
    max-width: 530px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid #0000001A;
    background-color: #F3F4F6;
    position: relative;
}
.input-form {
    width: 100%; 
    height: 100%;  
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 56px;
    font-size: 14px;
    color: #111827;
}

.input-form::placeholder {
    color: #9CA3AF;
    font-weight: 400;
}
.search-form {
    width: 44px;   
    height: 36px;
    background-color: #1A73E8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 2px;   
    right: 3px;         
    text-align: center;
}

.search-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
span.icon{
    width: 210px;
    height: 40px;
    max-width: 1280px;
    gap: 4px;
    right: 0;
    display: inline-block;
    position: absolute;
}
.icon > span{
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
}
span.bell, span.love, span.cart{
    width: 40px;
    height: 40px;
}
.bell > img, .profile > img, .love > img, .cart > img {
    display: inline-block;
    width: 20px;
    height: 20px;
}
span.profile{
    width: 78px;
    height: 40px;
    gap: 8px;
}
span.profile-name{
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 30px;
    padding: 0 8px;

}
.profile-name > a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #111827;
}
nav{
    width: 100%;
    max-width: 1728px;
    height: 41px;
    border-top: 1px solid #0000001A;
    padding: 0 200px;
}
.category-container{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 4px;
    padding-right: 4px;
}
.category-container > img{
    width: 14px;
    height: 14px;
    display: inline-block;
}
.textNav{
    font-weight: 400;
    height: 27px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #111827;
}
main{
    max-width: 1728px;
    height: 3659.25px;
    top: 134px;
    padding-bottom: 48px;
    gap: 48px;

}
section.purple-blue{
    width: 100%;
    max-width: 1728px;
    height: 420px;
    padding: 0 200px;
    background: linear-gradient(to right, #4F39F6 50%, #8200DB 50%);
}

.purple-blue > img{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 50%;
    max-width: 864px;
    height: 420px;
    opacity: 30%;
}
.text-landing{
    width: auto;
    height: auto;
    max-width: 1280px;
    padding: auto 16px;
    position: relative;
}
.landing-text{
    width: auto;
    height: auto;
    min-width: 512px;
    max-width: 512px;
    gap: 16px;
    position: relative;
    top: 90px;
}

.landing-title {
    width: auto;
    height: auto;
    font-weight: 700;
    font-size: 40px;
    font-style: bold;
    letter-spacing: 0;
    vertical-align: middle;
    line-height: 50px;
    color: #FFFFFF;
}

.descript {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.25px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFFCC;
}

.text-landing .button {
    width: auto;
    height: auto;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    gap: 8px;
    color: #1A73E8;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.arrow-right {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.slide {
    width: 56px;
    height: 8px;
    gap: 8px;
    position: relative;
    top: 180px;
    left: 368px;
}

.slide > .left {
    background-color: #FFFFFF80;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 16777200px;
}

.slide > .middle {
    background-color: #FFFFFF80;
    width: 24px;
    height: 8px;
    border: none;
    border-radius: 16777200px;
}

.slide > .right {
    background-color: #FFFFFF80;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 16777200px;
}

.button-previous {
    width: 40px;
    height: 40px;
    border-radius: 16777200px;
    border: none;
    background-color: #FFFFFF33;
    position: absolute;
    top: 290px;
    left: 15px;
}

.button-next {
    width: 40px;
    height: 40px;
    border-radius: 16777200px;
    border: none;
    background-color: #FFFFFF33;
    position: absolute;
    top: 290px;
    right: 15px;
}
.section-shop{
    width: auto;
    height: 192px;
    max-width: 1280px;
    gap: 24px;
    padding: 0 16px;
    position: relative;
    margin: 32px 200px;

}
div.div-shop-kat{
    width: auto;
    max-width: 1248px;
    height: 30px;
    justify-content: space-between;
}
.div-shop-kat > h2{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    padding: auto;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.div-shop-kat > span{
    max-width: 100px;
    height: 20px;
    gap: 4px;
    padding: auto;
    top: 4px;
    right: 16px;
    position: absolute;
    display: inline-block;
}
a{
    text-decoration: none;
    width: 82px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1A73E8;
}

div.item-kat{
    width: 100%;
    height: 138px;
    font-size: 0;
    max-width: 1280px;
    display: inline-block;
}
.item-shop{
    width: 15%;
    position: relative;
    display: inline-block;
    max-width: 198px;
    height: 138px;
    margin: 16px 1%;
    gap: 8px;
    opacity: 1;
    border-radius: 12px;
    border-width: 1px;
    padding: 16px auto;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #0000001A;
    background: #FFFFFF;
}


.item-shop:first-child{
    margin-left: 0;
}
.item-shop:last-child{
    margin-right: 0;
}

.img-item-kat{
    margin-top: 16px;
    width: 56px;
    height: 56px;
    opacity: 1;
    border-radius: 12px;
}

.title-item-kat{
    width: auto;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #111827;
}
.text-item-kat{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6B7280;
}
footer{
    width: auto;
    max-width: 1728px;
    height: 556px;
    padding-top: 64px;
    opacity: 1;
    position: relative;
    bottom: 0;
}
.footer{
    background: #111827;
    width: auto;
    height: 492px;
    opacity: 1;
    padding: 0 200px;
}
.container-footer{
    width: 100%;
    max-width: 1280px;
    height: 104px;
    line-height: 104px;
    padding: 0 16px; 
    display: inline-block; 
}
.container-footer-item{
    width: 24%;
    max-width: 294px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    position: relative;
    gap: 12px;
    opacity: 1;
}
.img-footer-item{
    width: 40px;
    height: 40px;
    text-align: center;
    opacity: 1;
    border-radius: 16777200px;
    background: #1A73E833;
    display: inline-block;
    position: relative;
}
.img-footer-item > img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.text-footer-item{
    width: auto;
    max-width: 168px;
    height: 36px;
    opacity: 1;
    top: -2px;
    padding-left: 6px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #99A1AF;
}
.text-footer-item > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}
.container-footer:nth-child(2){
    line-height: 338px;
    height: 338px;
}
.container-footer-midle {
    width: 24%;
    max-width: 294px;
    height: 242px;
    margin-right: 5px;
    display: inline-block;
    color: #F3F4F6;
    text-align: left; 
    vertical-align: middle; 
    line-height: normal; 
}
.container-footer-midle:nth-last-child{
    margin-right: 0;
}

.title-middle-footer {
    width: 100%;
    max-width: 288px;
    height: 32px;
    margin-bottom: 12px;
}

.logoBFoot {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #1A73E8;
    border-radius: 8px;
    color: #FFFFFF;
    vertical-align: middle;
}

.textBFoot {
    display: inline-block;
    padding-left: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    vertical-align: middle;
    color: #FFFFFF;
}

.text-middle-footer {
    width: 100%;
    max-width: 288px;
    margin-bottom: 12px;
}

.text-middle-footer > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5; 
    color: #9CA3AF; 
    display: inline;
    vertical-align: middle;
}
.text-middle-footer > img{
    width: 15px;
    height: 15px;
    display: inline;
}
.logo-sosmed{
    display: inline-block;
    width: 100%;
    max-width: 288px;
    height: 32px;
    opacity: 1;
}

.icon-sosmed{
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 8px;
    opacity: 1;
    border-radius: 16777200px;
    background: #364153;
}

.container-newsletter {
    width: 100%;
    max-width: 288px;
    height: 82px; 
    background-color: #1E2939; 
    border-radius: 8px;
}

.title-newsletter {
    color: #FFFFFF;
    font-size: 12px;
    padding: 8px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
}


.form-newsletter {
    width: 100%;
    max-width: 264px;
    height: 34px;
    padding-left: 8px;
    padding-right: 8px;
}


.input-email {
    display: inline-block;
    width: 65%; 
    max-width: 168px;
    height: 34px;
    background: #364153;
    border: 1px solid #4A5565;
    border-radius: 6px;
    padding: 8px 12px;
    color: #FFFFFF;
    font-size: 12px;
    vertical-align: middle; 
}

.input-email::placeholder {
    color: #FFFFFF80;
}

.btn-langganan {
    display: inline-block;
    width: 32%; 
    height: 34px;
    background-color: #1A73E8; 
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle; 
}

.container-footer:nth-child(3){
    height: 49px;
    line-height: 49px;
    border: #1A73E8 1px solid;
}

.container-footer-bottom{
    height: 48px;
    max-width: 1280px;
    position: relative;
    display: inline-block;
    width: 100%;
    justify-content: space-between;
    opacity: 1;
}
.textLeftFoot{
    width: 35%;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6A7282;
    text-align: left;         
    vertical-align: middle;
}
.textRightFoot{
    display: inline-block;
    width: 64%;
    text-align: right;    
}
.textRightLink{
    margin-left: 16px;
    display: inline-block;
    color: #6A7282;

}
.textRightLink > a{
    color: #6A7282;
    font-weight: 400;
    font-size: 12px;
    vertical-align: middle;
    line-height: 16px;
    letter-spacing: 0%; 
}



