<div class="footer-wrapper">
    <div class="container footer-top">
        <div class="footer-feature-item">
            <div class="img-footer-item"><img src="/asset/img/van.svg" alt="Icon Van Ekspedisi"></div>
            <div class="text-footer-item">
                <h4>Gratis Ongkir</h4>
                <p>Pembelian di atas Rp 100.000</p>
            </div>  
        </div>
        <div class="footer-feature-item">
            <div class="img-footer-item"><img src="/asset/img/shield.svg" alt="Icon shield"></div>
            <div class="text-footer-item">
                <h4>Pembayaran Aman</h4>
                <p>SSL terenkripsi 256-bit</p>
            </div>  
        </div>
        <div class="footer-feature-item">
            <div class="img-footer-item"><img src="/asset/img/refresh-ccw.svg" alt="Icon Return"></div>
            <div class="text-footer-item">
                <h4>Pengembalian Mudah</h4>
                <p>30 hari pengembalian gratis</p>
            </div>  
        </div>
        <div class="footer-feature-item">
            <div class="img-footer-item"><img src="/asset/img/headset.svg" alt="Icon Call Center"></div>
            <div class="text-footer-item">
                <h4>Dukungan 24/7</h4>
                <p>Bantuan kapan saja</p>
            </div>  
        </div>
    </div>

    <hr class="footer-divider">

    <div class="container footer-middle">
        <div class="footer-column brand-column">
            <div class="footer-brand-logo">
                <span class="logoBFoot">B</span>
                <span class="textBFoot">BeliMudah</span>
            </div>
            <p class="brand-desc">
                Platform belanja online terpercaya dengan ribuan produk pilihan. Belanja mudah, aman, dan menyenangkan.
            </p>
            <div class="logo-sosmed">
                <a href="#" class="icon-sosmed"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icon-sosmed"><i class="fab fa-instagram"></i></a>
                <a href="#" class="icon-sosmed"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon-sosmed"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>Layanan</h3>
            <ul class="footer-links">
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Karir</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Program Afiliasi</a></li>
                <li><a href="#">Jual di BeliMudah</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Bantuan</h3>
            <ul class="footer-links">
                <li><a href="#">Cara Belanja</a></li>
                <li><a href="#">Kebijakan Pengembalian</a></li>
                <li><a href="#">Lacak Pesanan</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Hubungi Kami</a></li>
            </ul>
        </div>

        <div class="footer-column contact-column">
            <h3>Kontak</h3>
            <div class="contact-item">
                <img src="/asset/img/map-icon.png" alt="Icon Map">
                <p>Jl. Sudirman No. 1, Jakarta Selatan, DKI Jakarta 12190</p>
            </div>
            <div class="contact-item">
                <img src="/asset/img/phone.svg" alt="Icon Phone">
                <p>0800-1234-5678 (Gratis)</p>
            </div>
            <div class="contact-item">
                <img src="/asset/img/mail.svg" alt="Icon Mail">
                <p>bantuan@belimudah.id</p>
            </div>
            
            <div class="container-newsletter">
                <h4 class="title-newsletter">Newsletter</h4>
                <form class="form-newsletter">
                    <input type="email" class="input-email" placeholder="Email kamu" required>
                    <button type="submit" class="btn-langganan">Langganan</button>
                </form>
            </div>
        </div>
    </div>

    <hr class="footer-divider">

    <div class="container footer-bottom">
        <p class="textLeftFoot">&copy; 2026 BeliMudah. Seluruh hak cipta dilindungi.</p>
        <div class="textRightFoot">
            <a href="#">Kebijakan Privasi</a>
            <a href="#">Syarat & Ketentuan</a>
            <a href="#">Admin</a>
        </div>
    </div>
</div>